.passwordRecoveryExpired {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  margin: 24px auto 0;
}

.container {
  max-width: 294px;
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.text {
  margin-bottom: 30px;
}
