.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  margin: 24px auto 0;
}

.confirmContainer {
  max-width: 294px;
  text-align: center;
}

.infoText {
  margin-bottom: 20px;
}
