.forgotPassword {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 378px;
  margin: 24px auto 0;
  padding: 24px;
}

.title {
  align-self: center;
  margin-bottom: 38px;
}

.emailHint {
  margin-top: 8px;
  color: var(--color-light-900);
}

.linkSent {
  margin-top: 24px;
  white-space: pre-line;
}

.sendLinkButton {
  margin-top: 18px;
}

.signInButton {
  margin: 30px 0;
}

.recaptcha {
  align-self: center;
}
