.createNewPassword {
  width: 100%;
  max-width: 378px;
  margin: 24px auto 0;
  padding: 24px 24px 36px;
}

.title {
  margin-bottom: 38px;
  text-align: center;
}

.newPassword {
  margin-bottom: 24px;
}

.confirmPassword {
  margin-bottom: 8px;
}

.passwordHint {
  margin-bottom: 42px;
  color: var(--color-light-900);
}
